<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Scrapper-GUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="js/scrapper.js"></script>

</head>
<body onload="loadApplied('failed_scrapes')">
	<div class="w3-bar w3-dark-grey">
		<button onclick="onLinkClick(0)"
			class="w3-ripple w3-bar-item w3-button">New</button>
		<button onClick="onLinkClick(1)"
			class="w3-ripple w3-bar-item w3-button">Applied</button>
		<button onClick="onLinkClick(2)"
			class="w3-ripple w3-bar-item w3-button">Failed Scrapes</button>
		<button onClick="onLinkClick(3)"
			class="w3-ripple w3-bar-item w3-button">Interested</button>
	</div>

	<div class="w3-container w3-margin-top w3-center">
		<div th:if="${failedScrapes == null}" class="w3-panel w3-yellow">
			<p>No Failed Scrapes Found</p>
		</div>
	</div>
	<table th:if="${failedScrapes != null}"
		class="w3-table w3-striped w3-border w3-hoverable">
		<tr>
			<th>ID</th>
			<th>FAILED AT</th>
			<th>MESSAGE</th>
			<th>STACKTRACE</th>
			<th>URL</th>
		</tr>
		<tr th:id="'row-'+${failedScrape.id}"
			th:each="failedScrape: ${failedScrapes}">
			<td th:text="${failedScrape.id}"></td>
			<td th:text="${failedScrape.failedAt}"></td>
			<td><button class="w3-khaki w3-ripple w3-btn"
					th:onclick="|setDescription(${failedScrape.id})|">View
					StackTrace</button>
				<p th:id="${failedScrape.id}" th:text="${failedScrape.stackTrace}"
					style="display: none; visibility: hidden"></p></td>
			<td th:text="${failedScrape.msg}"></td>
			<td th:text="${failedScrape.url}"></td>
		</tr>

	</table>
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content">

			<header class="w3-container w3-teal">
				<span onclick="document.getElementById('id01').style.display='none'"
					class="w3-button w3-display-topright">&times;</span>
				<h2>Stack Trace</h2>
			</header>

			<div class="w3-container" style="overflow: scroll; height: 200px">
				<p id="jobDesc"></p>
			</div>
		</div>
	</div>
</body>
</html>