<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Scrapper-GUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="js/scrapper.js"></script>

</head>
<body onload="loadApplied('interested')">
	<div class="w3-bar w3-dark-grey">
		<button onclick="onLinkClick(0)"
			class="w3-ripple w3-bar-item w3-button">New</button>
		<button onClick="onLinkClick(1)"
			class="w3-ripple w3-bar-item w3-button">Applied</button>
		<button onClick="onLinkClick(2)"
			class="w3-ripple w3-bar-item w3-button">Failed Scrapes</button>
		<button onClick="onLinkClick(3)"
			class="w3-ripple w3-bar-item w3-button">Interested</button>
	</div>

	<div class="w3-container w3-margin-top w3-center">
		<div th:if="${interestedList== null}" class="w3-panel w3-yellow">
			<p>No Interested Jobs Found.</p>
		</div>
		<table th:if="${interestedList != null}"
			class="w3-table w3-striped w3-border w3-hoverable">
			<tr>
				<th>ID</th>
				<th>JOB ID</th>
				<th>DESCRIPTION</th>
				<th>REC DATE</th>
				<th>APPLIED DATE</th>
				<th>OPTIONS</th>
			</tr>
			<tr th:id="'row-'+${job.id}" th:each="job : ${interestedList}">
				<td th:text="${job.id}"></td>
				<td th:text="${job.jobId}"></td>
				<td><button class="w3-khaki w3-ripple w3-btn"
						th:onclick="|setDescription(${job.id})|">View Description</button>
					<p th:id="${job.id}" th:text="${job.jobDesc}"
						style="display: none; visibility: hidden"></p></td>
				<td th:text="${job.recDate}"></td>
				<td th:text="${job.applied} ? job.appliedDate : 'N/A'"></td>
				<td th:if="${not job.applied}">
					<p th:id="'url-'+${job.id}" th:text="${job.url}"
						style="display: none; visibility: hidden"></p> <a target="blank"
					th:href="${job.url}" class=" w3-light-green w3-ripple w3-btn">Apply</a>
					<button th:onclick="|markNotInterested(${job.id})|"
						class="w3-brown w3-ripple w3-btn">Not Interested</button>
					<button th:onclick="|markAsApplied(${job.id})|"
						class=" w3-pale-red  w3-ripple w3-btn">Applied</button>
				</td>
			</tr>

		</table>
		<div id="id01" class="w3-modal">
			<div class="w3-modal-content">

				<header class="w3-container w3-teal">
					<span
						onclick="document.getElementById('id01').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h2>Job Description</h2>
				</header>

				<div class="w3-container" style="overflow: scroll; height: 200px">
					<p id="jobDesc"></p>
				</div>
			</div>
		</div>

	</div>

</body>
</html>